main.signpu-page {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../Assets/Backgrounds/bg2.jpeg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0.1rem;
}

.top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 1rem;
}

.signup-buttons {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 3rem;
    background: #ededed7a;
    border-radius: 8px 8px 0px 0px;
}

button.signup-card-butns {
    height: 2rem;
    width: 6rem;
    border: 2px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.signup-card-butns:hover {
    background-color: #deab2b;
    border-color: #11111100;
}

.signup-card {
    width: 40%;
    border-radius: 8px;
    background: #ededed7a;
}

p.welcome-text {
    font-size: xx-large;
}

.signup-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

p.signup-text {
    font-size: x-large;
}

.signup {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

form.signpu-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.user-Avatat {
    width: 100%;
    display: flex;
    justify-content: center;
}

.-image-input {
    width: 64%;
    display: flex
;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
input[type="file"] {
    width: 50%;
}
.small-parts {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    /* margin-top: 1.5rem; */
}

.small-parts.small-parts2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

label.signup-laber {
    font-size: 18px;

}

label.signup-laber2 {
    font-size: 18px;
    padding-left: 0.5rem;
    font-weight: 600;
}

input.small-texts {
    width: 20rem;
    height: 1.8rem;
    border-radius: 7px;
    padding-left: 4px;
    font-size: larger;
    border: none;
}

.address-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.signup-input-sections.long-input-sections {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.signup-input-sections.signup-input-sections2 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

input.small-texts.large-texts {
    width: 88%;
}

.warning-dialouge-box {
    width: 70%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dalouge-div {
    width: 98%;
}

a.policy-link {
    color: #008fff;
    text-decoration: underline;
}

p.warn {
    font-size: 24px;
    color: #ff0000;
    text-decoration: underline;
    font-size: medium;
}

.submit-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

input.login-button {
    font-size: larger;
    padding: 0.2rem;
    border-radius: 6px;
    width: 7rem;
    border: 1px solid;
    cursor: pointer;
    background-color: #e1e0dc;
}

input.login-button:hover {
    background-color: #deab2b;
    color: #e1e0dc;
    border: 1px solid black;
}

.create-account {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

span.msg {
    font-size: larger;
}

span.login-text {
    color: #4545b5;
    cursor: pointer;
}

.signup-options {
    width: 80%;
    margin-top: 1rem;
}
ul.signup-ul {
    width: 100%;
    display: flex
;
    flex-direction: column;
    gap: 0.5rem;
}
li.signup-li {
    display: flex
;
    flex-direction: column;
    list-style: none;
    gap: 0.1rem;
}
p.signup-li-text {
    font-size: 18px;
}
p.signup-links {
    font-size: 18px;
    color: #8b00a8;
    cursor: pointer;
}
p.signup-links:hover {
    color: #008fff;
}
.signup-card {
    width: 40%;
    border-radius: 8px;
    background: #ededed7a;
    margin-bottom: 1rem;
    padding-bottom: 0.8rem;
}

@media (max-width: 900px) {
    .user-Avatat {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .signup-buttons {
        width: 50%;
    }

    .signup-card {
        width: 50%;
    }

    .-image-input {
        width: 60%;
        display: flex;
        justify-content: center;
        gap: 0.4rem;
        align-items: center;
        flex-direction: column;

    }

    .small-parts {
        gap: 0.7rem;
    }

    .small-parts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .signup-input-sections {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 90%;
    }

    p.policy.text {
        font-size: small;
    }

    input.small-texts.large-texts {
        width: 100%;
    }

    input.small-texts {
        width: 100%;
    }
    li.signup-li {
        display: flex
    ;
        flex-direction: column;
        list-style: none;
        gap: 0.1rem;
        font-size: small;
    }
}

@media (max-width: 650px) {
    .signup-buttons {
        width: 60%;
    }

    button.signup-card-butns {
        width: 5rem;
        height: 1.8rem;
        font-size: 15px;
    }

    .signup-card {
        width: 60%;
    }
}


@media (max-width:550px) {
    .signup-input-sections.long-input-sections {
        width: 68%;
    }

    .small-parts {
        width: 90%;
    }

    .signup-buttons {
        width: 70%;
    }

    .signup-card {
        width: 70%;
    }
}

@media (max-width:450px) {
    .signup-buttons {
        width: 85%;
    }

    .signup-card {
        width: 85%;
    }
}