.about-page-top {
    width: 100vw;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
    aspect-ratio: 72 / 27;
    display: grid;
}

.about-page-top img {
    height: 100%;
    width: 100%;
    min-height: 80vh;
    object-fit: cover;
    position: absolute;
    z-index: -10;
    filter: grayscale(40%);
}

.about-page-top-text {
    margin-top: 14rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 4rem;
}

h1.but-h1 {
    font-size: 70px;
}

p.about-page-top-text-p {
    font-size: xx-large;
}

/* Slide 1 */
.loanding-page-1-imgae-div.section-2-page-left {
    aspect-ratio: 2 / 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 40%;
}

.loanding-page-1-imgae-div.section-2-page-left img {
    width: 100%;
}

.text-div.section-2-page-right {
    width: 40%;
}

h2.text-h1.about-h2 {
    font-size: xxx-large;
}

p.text-p.about-text-p {
    font-size: x-large;
    font-family: monospace;
}

.section-2-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.section-2-features-item {
    height: 4rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 1.5px solid #c2c2c2ad;
}

.section-2-list-disk {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d6d6;
    height: 35%;
    width: 1.2rem;
    border-radius: 50%;
}

p.section-2-item-name {
    font-size: larger;
}

.about-page-section-2-button {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page-section-2-button {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.about-page-section-2-button-btn {
    padding: 0.5rem;
    font-size: medium;
    width: 11rem;
    font-family: serif;
    border: none;
    background: #49a1ff;
    color: white;
    cursor: pointer;
}

/*  */
section.section-3-missons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    padding: 0 1rem;
    align-items: end;
}

.section-2-mission-txt {
    height: 100%;
    background-color: #ececec63;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section-2-mission-image {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #a9a9a9cc;
}

.section-2-mission-image-div img{
    width: 100%;
}

h3.section-2-h3 {
    font-size: x-large;
    font-family: monospace;
}

p.text-p-3 {
    padding: 0 1rem;
    font-size: large;
}

section.landing-page-1 {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    margin-bottom: 2rem;
}

h1.text-h1.about-h2 {
    font-size: xxx-large;
    font-family: monospace;
}

.text-div.td-3 {
    width: 40%;
}

/* second  */
.landing-page-1.about-landing-1 {
    margin: 0;
    background: #f3f5f7;
    padding-top: 2rem;
    margin-top: 3rem;
}


/* Solutions small */
section.landing-4-slutions-sm-card-grid {
    width: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    overflow: hidden;
    margin-bottom: 2rem;
    scroll-behavior: smooth;
    background: #f3f5f7;
    padding-bottom: 3rem;
}


.landing-4-slutions-sm-card-grid-div {
    align-items: center;
    gap: 1rem;
    scroll-behavior: smooth;
    width: 95%;
    display: flex;
    overflow: auto hidden;
}

.-slutions-sm-card {
    min-width: 15rem;
    border: none;
    padding: 0.5rem;
    height: 20rem;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: white;
}

.-slutions-sm-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 2px solid #e0dcdc;
    border-radius: 50%;
}

h4.-slutions-sm-card-h4 {
    font-size: larger;
}

/* Goals */
.loanding-page-1-imgae-div.li4 {
    aspect-ratio: 2 / 2;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loanding-page-1-imgae-div.li4 img{
     width: 76%;
}

@media (max-width: 1050px) {
    .about-page-top-text {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h1.but-h1 {
        font-size: xxx-large;
    }
    .about-page-top img {
        filter: brightness(0.5);
    }
    .about-page-top img {
        object-fit: cover;
        z-index: -10;
        filter: brightness(0.5);
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media (max-width: 1000px) {
    .loanding-page-1-imgae-div.section-2-page-left {
        width: 95%;
    }
    .text-div.section-2-page-right {
        width: 95%;
    }
    .text-div.td-3 {
        width: 95%;
    }
}

@media (max-width: 900px) {
    section.section-3-missons {
        grid-template-columns: 1fr;
    }
    .section-2-mission-txt {
        min-height: 20rem;
    }
}