a{
    color: black;
}
section.landing-page-1 {
    display: flex;
    width: 100vw;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.text-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1.text-h1 {
    font-family: Bebas Neue, sans-serif;
    font-size: 55px;
}

p.text-p {
    font-size: 1.25rem;
     font-family: "Barlow", sans-serif;
}

.loanding-page-1-imgae-div {
    width: 50%;
    aspect-ratio: 16 / 9;
}

img.loanding-page-1-imgae-div-img {
    width: 100%;
    /* aspect-ratio: 16 / 9; */
}

/* Solutions Section */
section.landing-page-2 {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    display: flex;
    margin-top: 3rem;
}

.solutions-text {
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    display: flex;
    width: 90%;
}

h2.solutions-text-h2 {
    font-size: xx-large;
    font-family: Bebas Neue, sans-serif;
}

.solutions-buttons {
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

p.solutions-text-p {
    font-size: x-large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.solutions-btn-box {
    justify-content: center;
    align-items: center;
    gap: .3rem;
    display: flex;
    display: none;
}

button.solutions-btn {
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: initial;
    display: flex;
}

/* main solution slider */
.solutions-slide-wrapper {
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow: auto hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-slider {
    gap: 16px;
    width: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.solutions-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.solution-slider-image {
    scroll-snap-align: start;
    border-radius: 2px;
    width: 100%;
    max-width: 340px;
}

p.solutions-item-name {
    font-family: STIX Two Text, system-ui;
    font-size: x-large;
}

/* Our Products */
/* .product-slider-wrapper {
    width: 60%;
    display: flex
;
    height: 60vh;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 2rem;
}
.product-slide {
    display: flex
;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.product-slide-div.product-odd{
    background-color: rgb(62, 237, 237);
}
.product-slide-div.product-even{
    background-color: crimson;
}

.product-slide-1 img{
    width: 2rem;
} */

section.landing-page-3 {
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.product-slider-wrapper {
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60vh;
    display: flex;
    overflow: hidden;
}

.product-slide {
    display: flex;
    /* gap: 1rem; */
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1rem;
    align-items: center;
}

.product-slide::-webkit-scrollbar {
    display: none;
    /* Optional: Hide scrollbar for cleaner look */
}

.product-slide-div {
    scroll-snap-align: start;
    color: #fff;
    text-align: center;
    flex-direction: column;
    flex: none;
    justify-content: center;
    width: 288px;
    height: 100%;
    padding: 1rem;
    display: flex;
}

.product-slide-div.product-odd {
    background-color: rgb(62, 237, 237);
}

.product-slide-div.product-even {
    background-color: crimson;
}

.product-slide-1 img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.product-slide-title {
    margin-top: 1rem;
}

.product-slide-title-p {
    font-weight: bold;
    font-size: 1rem;
}

.product-slide-title-p2 {
    font-size: 0.9rem;
    opacity: 0.8;
}

#product-slide-active {
    background-color: blueviolet;
}

/* Categories */

section.landing-page-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    padding-top: 2rem;
    background: #f3f5f7;
}

.solutions-btn-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.solutions-btn-view {
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: fangsong;
    font-weight: 700;
    color: #06c5c5;
    border: 1px solid;
    background: white;
}

.landing-page-categories-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    display: grid;
    width: 90%;
}

.categories-card {
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 15rem;
    display: flex;
    width: 100%;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

img.categories-card-image {
    width: 90%;
    max-height: 80%;
}

p.categories-card-text {
    font-size: larger;
    font-weight: 700;
}

/* Comment section */
section.landing-page-5 {
    place-items: center;
    width: 100%;
    /* min-height: 50vh; */
}

.landing-page-5-div {
    margin-top: 4rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 5fr 5fr;
    justify-content: center;
    min-height: 50vh;
    align-items: center;
    justify-items: center;
}

.landing-page-5-left {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2.text-h1 {
    font-family: Bebas Neue, sans-serif;
    font-size: 55px;
}

p.solution-teaxt-txt-2 {
    font-size: x-large;
    font-family: STIX Two Text, system-ui;
}

.connent-swap-button {
    display: flex;
    gap: 1rem;
}

.landing-page-5-right {
    width: 85%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-card {
    width: 80%;
    min-height: 50vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #e1e5ea;
    font-size: large;
    position: relative;
    box-shadow: 0px 0px 3px #808080ad;
    justify-content: center;
}

.client-name {
    font-weight: 600;
}

.comment-top-logo {
    position: absolute;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    top: -2.9rem;
    left: 4rem;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #6d6d6db0;
    font-size: 7rem;
    text-align: center;
    color: #49a1ff;
}

/* Contact Form */
section.landing-page-6 {
    padding-bottom: 3rem;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-options-item {
    display: flex;
    gap: 0.5rem;
}

.contact-op-logo {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e5ea;
}

.contact-op-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

p.contact-op-name {
    font-size: x-large;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
}

p.contact-value {
    font-size: 20px;
}

.landing-contact-form-card {
    border-radius: 0;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    display: flex;
    box-shadow: 0 0 4px #a9a9a9;
    padding: 2rem 0;
}


form.contact-form-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form-single-div {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 3rem;
    display: flex;
    height: 3rem;
}
.form-single-div.form-single-div-ta {
    min-height: 3rem;
    height: auto;
}

input.form-single-inputs {
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    font-size: large;
    border: none;
    box-shadow: 0 0px 0px 1px #9c9c9c57;
}

.form-double-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    gap: 1rem;
}

input.form-double-inputs {
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    font-size: large;
    border: none;
    box-shadow: 0 0px 0px 1px #9c9c9c57;
}

textarea.form-text-area {
    resize: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;
    min-height: 3rem;
    display: flex;
    padding: 0.5rem;
    font-size: x-large;
    box-shadow: 0 0 0 1px #9c9c9c57;
}

.form-submit-div {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    display: flex;
}

button.form-submit-btn {
    width: 100%;
    height: 100%;
    background: #49a1ff;
    box-shadow: 0 0 0 1px #9c9c9c57;
    border: none;
    font-size: x-large;
    color: white;
    font-family: STIX Two Text, system-ui;
}

@media (max-width: 1000px) {
    section.landing-page-1 {
        flex-direction: column;
    }

    .text-div {
        width: 95%;
        /* gap: 0.5rem; */
    }

    h1.text-h1 {
        font-size: xxx-large;
    }

    .loanding-page-1-imgae-div {
        width: 95%;
    }

    /* Solutions */
    .solutions-slide-wrapper {
        overflow: hidden;
    }

    .solution-slider {
        display: flex;
        overflow: auto hidden;
        scroll-behavior: smooth;
        width: 95%;
    }

    .solutions-item {
        width: 35%;
        min-width: 35%;
    }

    .solutions-text {
        width: 95%;
    }

    /* Categories */
    section.landing-page-3 {
        flex-direction: column;
        gap: 2.5rem;
    }

    .product-slider-wrapper {
        width: 95%;
    }

    .landing-page-categories-grid {
        grid-template-columns: 1fr 1fr;
    }

    .categories-card {
        min-height: 15rem;
        height: auto;
        padding-bottom: 1rem;
    }

    .landing-page-5-div {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .landing-page-5-left {
        width: 95%;
    }
    .text-h1 {
        font-size: xxx-large;
    }
    h2.text-h1 {
        font-size: xxx-large;
    }

    .connent-swap-button {
        display: none;
    }

    .landing-page-5-right {
        width: 95%;
    }

    .review-card {
        width: 100%;
        border-radius: 0px;
        font-size: x-large;
    }

    .contact-options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .landing-contact-form-card {
        width: 95%;
    }
}

@media (max-width: 900px) {
    .contact-options {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media (max-width: 740px) {
    .contact-options {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 500px) {
    .categories-card {
        min-height: 5rem;
    }
}