  /* Navbar Styling */
  .navbar {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .navbar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
  }
  
  /* Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  /* Nav Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
  }
  
  /* Mobile Menu Icon */
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: white;
  }
  
  /* Responsive Navbar */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 200px;
      padding: 10px;
      border-radius: 5px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  }
  
/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  .footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .footer-links li {
    display: inline-block;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {}