section.new-orders {
    width: 100%;
    min-height: 50vh;
    display: flex
;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.upper-section {
    width: 70%;
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.uppder-section-card {
    width: 80%;
    height: 90%;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #00000057;
    display: flex
;
    justify-content: center;
    align-items: center;
}
ul.order-count-ul {
    width: 94%;
    height: 91%;
    display: grid
;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
li.order-count-li {
    list-style-type: none;
    font-size: large;
    cursor: pointer;
}
li.order-count-li:hover{
    color: #543232;
}

/* asdjfkj saldkjflksaj fklal */

.orders-grid {
    width: 70%;
    overflow: hidden;
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.order-card {
    width: 80%;
    display: grid
;
    grid-template-columns: 3fr 7fr;
    box-shadow: 0px 0px 1px 1px #1918184d;
    border-radius: 7px;
}
.order-card {
    width: 80%;
    display: grid
;
    grid-template-columns: 3fr 7fr;
}
img.left-image-order {
    height: 100%;
    width: 100%;
}
.right-details {
    display: flex
;
    flex-direction: column;
    justify-content: space-around;
}
.uppder-details {
    display: flex
;
    flex-direction: column;
    gap: 0.3rem;
}
p.details-name {
    font-size: larger;
}
p.details-name {
    font-size: larger;
    overflow: hidden;
    height: 4rem;
}

@media (max-width: 900px) {
    .order-card {
        width: 80%;
        display: grid
    ;
        grid-template-columns: 4fr 6fr;
        box-shadow: 0px 0px 1px 1px #1918184d;
        border-radius: 7px;
    }
    .order-card {
        display: flex
    ;
        flex-direction: column;
        height: 60vh;
        overflow: hidden;
        gap: 1rem;
    }
    .left-image {
        height: 50%;
    }
}
@media (max-width: 760px) {
    .upper-section {
        width: 90%;
    }
    .orders-grid {
        width: 90%;
    }
}