main.profile-page {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(123deg, #e6b52a, #d1b461);
}
.-profile-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top1-part {
    width: 100%;
    height: 10.5em;
    display: flex;
    background-color: #e6b52a;
    justify-content: space-evenly;
    border-bottom: 9px solid #464646;
    padding-top: 2rem;
}

.left-part-top1 {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.image-box {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    border: 3px solid #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.-image-profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-image: url("../../Assets/dd.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 1px 11px black;
}

.right-part-top1 {
    width: 70%;
    height: 100%;
}

.details-box-top1 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.details-box-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30%;
    align-items: center;
}

p.user-name {
    font-size: xx-large;
}

.details-box-bottom {
    width: 100%;
    display: flex;
    height: 60%;
    justify-content: center;
    gap: 5rem;
    border-top: 2px solid #504d4d;
    padding-top: 9px;
}

.orders-meter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.meter-title {
    font-size: x-large;
}

.meter-reading {
    font-size: x-large;
}

/* bottom part */
section.profile-blg {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
}

section.left-profile {
    width: 25%;
    /* height: 40vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.profile-buttons-ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

li.profile-button-li {
    list-style-type: none;
}

button.button-li {
    width: 8rem;
    height: 2rem;
    font-size: x-large;
    background-color: #e6b52a;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
}
button.button-li:hover {
    box-shadow: 0px 0px 6px 2px #fbbf05, 0 0px 9px 2px #b6fb1c;
}

section.Right-profile {
    width: 75%;
    border-left: 2px solid;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

section.right-profile-box {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading-of-page {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.earnings {
    font-size: xx-large;
}

.earnings-monitor-box {
    width: 90%;
    height: auto;
    display: flex
;
    justify-content: center;
    border: 1px solid #ffffff;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.earnings-monitor-box:hover {
    box-shadow: 0px 0px 6px #363636, 0px 0px 9px #ffa42c;
}

.earning-meter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5rem;
}

.earning-meter-left {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 1rem;
}

p.earinging-meter-text-heading {
    font-size: x-large;
}

span.earingin-meter-reading {
    font-size: x-large;
}

.earning-meter-left.orders-left-earning {
    margin-top: 1rem;
    width: 100%;
}

p.pending-text {
    font-size: 20px;
}

.orders-list-my-orders {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

ul.order-list-ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

li.order-list-li {
    width: 80%;
    height: 10rem;
    border: 2px solid darkgray;
    display: flex
;
    border-left: none;
    border-bottom: none;
    border-right: navajowhite;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
}
.single-order-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-left: 2rem;
}

.text-order-single- {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

p.title-text-order {
    font-size: larger;
    text-align: center;
}

span.price-text {
    font-size: larger;
    color: #000000;
}
span.price-value {
    color: white;
}

span.status-text {
    font-size: larger;
    color: #000000;
}
span.status-text-value {
    color: white;
}

button.cancle-order {
    width: 5rem;
    height: 1.5rem;
    font-size: large;
    border: 1px solid;
    color: #ffffff;
    background: #000;
    border-radius: 4px;
    cursor: pointer;
}

.history-buttons {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hist-btns-box {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hist {
    border: 1px solid #000000;
    width: 33.33%;
    height: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
}
button.hist-button {
    background-color: #0000;
    color: #000000;
    border: navajowhite;
    font-size: large;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

button.hist-button:hover {
    background: #000000;
    color: wheat;
}

/* responsive */

@media (max-width:800px) {

    /* /top */
    .top1-part {
        height: 7rem;
    }

    .image-box {
        width: 8rem;
        height: 8rem;
        border-radius: 999px;
    }

    .details-box-bottom {
        padding-bottom: 6px;
    }

    .orders-meter-box {
        gap: 0.2rem;
    }

    p.user-name {
        font-size: 30px;
    }

    span.title-meter {
        font-size: large;
    }

    /* bottom */
    section.profile-blg {
        flex-direction: column;
    }

    section.left-profile {
        width: 100%;
    }

    ul.profile-buttons-ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    button.button-li {
        width: 6rem;
        height: 1.8rem;
        font-size: large;
    }

    section.Right-profile {
        width: 100%;
        margin-top: 2rem;
    }

    section.right-profile-box {
        gap: 1rem;
    }

    p.earnings {
        font-size: 30px;
    }

    p.earinging-meter-text-heading {
        font-size: larger;
    }

    .earning-meter-left {
        margin-top: 8px;
    }

    .earning-meter-reading {
        margin-bottom: 8px;
    }

    p.title-text-order {
        font-size: large;
    }
}

@media (max-width: 600px) {
    li.order-list-li {
        width: 90%;
    }

    .text-order-single- {
        width: 90%;
    }

    span.status-text-value {
        font-size: small;
    }

    ul.profile-buttons-ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.8rem;
        justify-items: center;
    }
}

@media (max-width: 550px) {
    .top1-part {
        background: linear-gradient(47deg, #6d6d6d, #000000);
    }

    .left-part-top1 {
        display: none;
    }

    .right-part-top1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}