@media (max-width:1200px) {
    p.--offer-heading {
        font-size: xx-large;
    }
    .--offer-text-heading {
        font-size: xx-large;
    }
    .prodcut-overflow-y {
        max-width: 90%;
        overflow-x: auto;
    }
    .product-card-overflow {
        width: 100%;
        display: grid
    ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
    .premium-card {
        width: 14rem;
    }
}
@media (max-width: 1000px) {
    .left--slide-up {
        width: 85%;
    }
    h2.slide-det-text {
        font-size: 32px;
    }
    .left--slide-mid {
        width: 85%;
    }
    p.slide-det-para {
        font-size: large;
    }
    .left--slide-down {
        width: 85%;
    }
    .right--slide {
        width: 35%;
    }
    .prodcut-grid- {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:950px) {
    .offer-sub {
        height: auto;
        flex-direction: column;
    }
    .offer-left {
        width: 100%;
        height: auto;
        flex-direction: row-reverse;
    }
    .--offer-image-box {
        position: unset;
    }
    img.-offer-img-box {
        height: 18rem;
    }
    .--offer-text {
        position: unset;
        background: none;
        width: 50%;
        height: 100%;
        gap: 1rem;
    }
    .offer-right {
        width: 100%;
    }
    img.offer--img {
        height: 13rem;
    }
}
@media (max-width:850px) {
    .left--slide {
        width: 60%;
    }
    .right--slide {
        width: 30%;
    }
}
@media (max-width:770px) {
    .left--slide {
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex
;
        justify-content: center;
        align-items: center;
    }
    .left--slide {
        position: absolute;
        z-index: 1;
    }
    .right--slide {
        position: absolute;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        z-index: 0;
        height: unset;
        width: unset;
    }
    .right--slide {
        position: relative;
        z-index: 0;
        width: 100%;
        opacity: 0.3;
    }
    img.slide--image {
        height: 65vh;
    }
    img.slide--image {
        opacity: 0.7;
    }
    img.slide--image {
        height: auto;
    }
    .--offer-image-box {
        position: absolute;
    }
    .--offer-text {
        width: 100%;
        min-height: 15rem;
    }
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    section.nav-bottom {
        display: flex;
    }
}
@media (max-width:650px) {
    .prodcut-grid- {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:450px) {
    
    .offer-right-top {
        height: 43vh;
    }
    .-offer-left {
        width: 100%;
        position: relative;
        z-index: 1;
        background: #ffffff3d;
    }
    .-offer-fight {
        position: absolute;
        width: 100%;
    }
    .prodcut-grid- {
        gap: 0;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    img.slide--image {
        height: 25vh;
    }
    section.slide-box {
        height: 100%;
    }
    .--slide {
        height: 60vh;
        
    }
    .left--slide-up {
        text-align: center;
        width: 85%;
    }
    .left--slide-mid {
        width: 85%;
        text-align: center;
    }
    .offer-right-top {
        height: 25vh;
    }
    img.slide--image {
        height: 60vh;
    }
    h3.premium{
        font-size: medium;
    }
    span.showMore {
        font-size: smaller;
    }
    section.product-main- {
        width: 100vw;
    }
    .premium-card {
        box-shadow: 2px 1px 2px #00000026;
        border-radius: 0;
    }
    .--premium-det-title {
        font-size: x-large;
        color: #484545;
    }
    .--premium-det-rating {
        font-size: 18px;
    }
    .--premium-price {
        font-size: x-large;
    }
    .--premium-cart {
        display: flex
    ;
        justify-content: center;
        align-items: center;
    }    
    .premium-card {
        box-shadow: 2px 1px 2px #00000026;
        border-radius: 0;
    }
    .product-premium-text {
        width: 100%;
        background: #bbe4ff;
    }
    
}