body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
}
section.term-section {
    display: flex
;
    justify-content: center;
}
.container {
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #444;
}
h3 {
    color: #222;
    margin-top: 20px;
}
p {
    margin: 10px 0;
}